<div id = "navBar">
    <nav>
        <ul>
        <div id = "authNav">
            <li><h1><a href = "{{ url_for('movies_bp.home') }}">235 Flix</a></h1></li>
            {% if 'username' in session %}
                <li><h3>Logged in as: {{ session['username'] }}</h3></li>
                <li><a href="{{ url_for('authentication_bp.logout' )}}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('authentication_bp.register' )}}">Register</a></li>
                <li><a href="{{ url_for('authentication_bp.login' )}}">Login</a></li>
                <li><a href="{{ url_for('authentication_bp.logout' )}}">Logout</a></li>
            {% endif %}
        </div>

        <div id = "browseNav">
            {% include 'movies/find_movie.html' %}
            <li><a href = "{{ url_for('movies_bp.browse_movies') }}">Browse movies</a></li>
            <li><a href = "{{ url_for('movies_bp.browse_by_actor') }}">Browse by actor</a></li>
            <li><a href = "{{ url_for('movies_bp.browse_by_genre') }}">Browse by genre</a></li>
            <li><a href = "{{ url_for('movies_bp.browse_by_director') }}">Browse by director</a></li>
        </div>
        </ul>
    </nav>
</div>