{% extends 'layout.html' %}

{% block content %}
<div class="formwrapper">
    <form class="form-signin" method="POST" action="{{ handler_url }}">
        <h1 class="h1 mb-3 font-weight-normal">{{ title }}</h1>
        <br>
            {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
        <div class="form-field">{{ form.username(placeholder="Username") }}
            {% if form.username.errors or username_error_message is not none %}
                <ul class="errors">
                    {% if username_error_message is not none %}
                        <li>
                            {{ username_error_message }}
                        </li>
                    {% endif %}
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-field">{{ form.password(placeholder="Password") }}
            {% if form.password.errors or password_error_message is not none %}
                <ul class="errors">
                    {% if password_error_message is not none %}
                        <li>
                            {{ password_error_message }}
                        </li>
                    {% endif %}
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <br>
        {{ form.submit }}
    </form>
</div>
{% endblock %}