{% extends 'layout.html' %}

{% block content %}

<main>
    <div>
        {% if movies[index] %}
            <p>Title: {{ movies[index].title }}</p>
            <p>Release year: {{ movies[index].release_year }}</p>
            <p>Description: {{ movies[index].description }}</p>
            <p>Director: {{ movies[index].director }}</p>
            <p>Actors: {{ movies[index].actors }}</p>
            <p>Genres: {{ movies[index].genres }}</p>
            <p>Run time: {{ movies[index].runtime_minutes }}</p>
            <p>Revenue (millions): {{ movies[index].revenue }}</p>
            <a href = "{{ url_for('movies_bp.review_a_movie', movie = movies[index].title) }}">Reviews ({{ movies[index].number_of_reviews }})</a>
        {% else %}
            <p>No movie found</p>
        {% endif %}
    </div>
    <br>
    <div>
        <a href=" {{ first_url }}">first</a>
        <a href=" {{ prev_url }}">prev</a>
        <a href=" {{ next_url }}">next</a>
        <a href=" {{ last_url }}">last</a>
    </div>
</main>

{% endblock %}