{% extends 'layout.html' %}

{% block content %}

<main id="main">
    <div style="clear:both">
        </a>
        <h2>{{movie.title}}</h2>
        <div class="form-wrapper">
            <form action="{{url_for('movies_bp.review_a_movie')}}" method="post">
                {{form.movie_title}}
                {{form.csrf_token}}
                <br>
                <div class ="form-field">{{form.review.label}} </br>{{form.review(size = 100, placeholder="type your review", class="textarea", cols="50", rows="6", wrap="hard")}}
                    {% if form.review.errors %}
                        <ul class="errors">
        	            {% for error in form.review.errors %}
        		            <li>{{error}}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                {{ form.rating.label }} {{ form.rating }}
                {{ form.submit }}
            </form>
        </div>
        <div style="clear:both">
            <h3>Reviews:</h3>
            {% if movie.reviews != [] %}
                {% for review in movie.reviews %}
                    <p>{{review.rating}}/10</p>
                    <p>{{review.username.user_name}} {{review.timestamp}}</p>
                    <p>{{review.review_text}}</p>
                {% endfor %}
            {% else %}
                <p>No reviews found :(</p>
            {% endif %}
        </div>
    </article>
</main>
{% endblock %}